RewriteEngine On

# Skip existing files
#RewriteCond %{REQUEST_FILENAME} !-f
# Skip existing directories
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Enabling Authorization token
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Any other thing redirect to index.php
RewriteRule ^ index.php [L]
